{% include 'common_page.html' %}
<section id="showcase">
    <div class="container">
        <br>
        <br>

<table>
    <tr><th height="50"><a href="{% url 'open_sucess_stories' %}" style="color: white;">Sucess stories</a></th>
        <th rowspan="3" width="100"></th>
        <th rowspan="3" style="text-align: left;color: orange"><h4>The Secret Intelligence Agency has always used
                    undercover agents to solve complex cases and
                     dismantle criminal organizations.
                     We are conceptualizing this software as a solution so that Secret Intelligence
                     Agencies and their agents can communicate through this Software
                        for the exchange of evidences in a secure way.
                </h4></th><th rowspan="3" width="100"></th></tr>
    <tr>
        <th height="50"><a href="{% url 'find_job' %}" style="color: white">Find jobs</a></th>
    </tr>
    <tr>
        <th height="50"><a href="" style="color: white">Tips&Suggestions</a></th>
    </tr>
</table>
    </div>
</section>

{% include 'footer.html' %}