{% include 'common_page.html' %}
<section id="showcase">
    <div class="container">
        <br>
        <br>

<table>
    <tr><th height="50"><a href="{% url 'open_sucess_stories' %}" style="color: white;">Sucess stories</a></th>
        <th rowspan="3" width="100"></th>
        <th rowspan="3" style="text-align: left;color: orange"><p style="font-size: 70%;color:palegoldenrod;">While peer-to-peer networks are mainly used to locate unique resources across the Internet, new interesting deployment scenarios are emerging. Particularly, some applications (e.g., VoIP) are proposing the creation of overlays for the localization of services based on equivalent servants (e.g., voice relays).This paper explores the possible overlay architectures that can badopted to provide such services, showing how an unstructured solution based on a scale-free overlay topology is an effective option to deploy in this context. Consequently, we propose EQUATOR (Equivalent servant locator), an unstructured overlay implementing the above mentioned operating principles, based on an overlay construction algorithm that well approximates an ideal scale-free construction model.
                </p></th><th rowspan="3" width="100"></th></tr>
    <tr>
        <th height="50"><a href="{% url 'find_job' %}" style="color: white">Find jobs</a></th>
    </tr>
    <tr>
        <th height="50"><a href="" style="color: white">Tips&Suggestions</a></th>
    </tr>
</table>
    </div>
</section>

{% include 'footer.html' %}