{% include 'common_page.html' %}
<section id="showcase">
    <div class="container">
{% if msg %}
    <h2 style="color:peru;font-weight: bold" align="center" >{{ msg }}</h2>
    {% endif %}

        {% if data %}
<style>
table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

</style>
<form action="{% url 'ucsd' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<table align="center">
  <tr style="color: white">
      <th width="30"></th>
  <th>CaseId</th>
  <th>Case Name</th>
  <th>Case_Details</th>
  <th>Doc</th>
        <th>Evidence</th>
  <th>Evidence Details</th>
    <th>Status</th>
      <th>Other Evidences</th>
      <th>Update</th>

  </tr>
    {% for x in data %}
  <tr style="color:chocolate;font-weight: bold;font-size: 80%">
  <td width="30"></td>
  <td>{{ x.case_id }}</td>
  <td>{{ x.case_name }}</td>
    <td>{{ x.case_details}}</td>
  <td>{{ x.doc}}</td>
  <td>{{ x.evidence }}</td>
  <td><img src="{{ x.evidence_img.url }}" height="50" width="50"></td>
      <input type="hidden" name="cid" value="{{ x.case_id }}">
      <input type="hidden" name="aid" value="{{ x.Agent_id }}">

  <td><input type="text" name="cts" required></td>
  <td><input type="file" name="ote" required></td>
  <th><button type="submit" >Update</button></th>


  </tr>
    {% endfor %}

</table></form>


        {% endif %}

    </div>
</section>
{% include 'footer.html' %}